annoy==1.17.0
cffi==1.15.0
Flask==2.0.3
Flask_Cors==3.0.10
matplotlib==3.5.1
mkl==2023.1.0
mkl_service==2.4.0
mlxtend==0.21.0
numpy
cython
opencv_python==4.5.5.64
pandas==1.4.3
Pillow==9.5.0
pybind11==2.10.4
pycocotools==2.0
scikit_learn
scipy
tqdm